table{
    width: 1000%;
}

/* tr.pe-detail-row{
    height: 0;
}

tr.pe-element-row:not(.pe-expanded-row):hover{
    background: whitesmoke;
}

tr.pe-element-row:not(.pe-expanded-row):active{
    background: #efefef;
}

.pe-element-row td{
    border-bottom-width: 0;
}

.pe-element-detail{
    overflow: hidden;
    display: flex;
}

.pe-element-diagram{
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.pe-element-symbol{
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.pe-element-description{
    padding: 16px;
}

.pe-element-description-attribution{
    opacity: 0.5;
}
 */
